* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar .cart{
  height: 80px; 
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar .cart img{
  height: 35px;
  width: auto;
  padding: 0 10px;
}

