* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 80px; 
  width: 100%;
  background-color: #2C374B;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  box-shadow:0 4px 12px #E9E9E9;
}

.navbar img {
  height: 45px;
  width: auto;
}